<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="div_top">
    <h1>Edit Coffee Shop</h1>
  </div>
    <div class="form">
    <%= form_for [@city, @shop] do |f| %>
      <p>
        <%= f.label :shopname %><br>
        <%= f.text_field :shopname %>
      </p>

      <!-- <p><%= f.hidden_field(:city_id, value: @city.id) %></p> -->
      <p>
        <li class="coffeeproperties">
          <input type="checkbox" value="1" name="shop[properties][Wifi]" id="shop_properties"> Wifi
          <input type="checkbox" value="1" name="shop[properties][Outdoor Seating]" id="shop_properties"> Outdoor Seating
          <input type="checkbox" value="1" name="shop[properties][Iced Coffee]" id="shop_properties"> Iced Coffee
          <input type="checkbox" value="1" name="shop[properties][Music]" id="shop_properties"> Music
          <input type="checkbox" value="1" name="shop[properties][Soy Milk]" id="shop_properties"> Soy Milk </br>
          <input type="checkbox" value="1" name="shop[properties][Sandwiches]" id="shop_properties"> Sandwiches
          <input type="checkbox" value="1" name="shop[properties][Doughnuts]" id="shop_properties"> Doughnuts
          <input type="checkbox" value="1" name="shop[properties][Fruit]" id="shop_properties"> Fruit
          <input type="checkbox" value="1" name="shop[properties][Free Refills]" id="shop_properties"> Free Refills
          <input type="checkbox" value="1" name="shop[properties][Flavored Coffee]" id="shop_properties"> Flavored Coffee
          <input type="checkbox" value="1" name="shop[properties][Alcohol]" id="shop_properties"> Alcohol
       </li>
      </p>

      <p>

        <%= f.submit %>

      </p>
    <% end %>
    <%= form_for [@city, @shop], method: :delete do |f| %>
      <%= f.submit "Delete", :class => "form-button" %>
      <% end %>
    </div>


    <div class="links">
    <h2 align="center"><div class="button"><%= link_to 'Coffee Shops Index', city_shop_path %></div><h2>
    </div>

  </body>
</html>
