<h1>New Coffee Shop</h1>
<div class="form">
<%= form_for [@city, @shop] do |f| %>
  <p>
    <%= f.label :shopname %><br>
    <%= f.text_field :shopname %>
  </p>

  <p>
   <input type="checkbox" value="1" name="shop[properties][wifi]" id="shop_properties"> Wifi
   <input type="checkbox" value="1" name="shop[properties][outdoor seating]" id="shop_properties"> Outdoor Seating
   <input type="checkbox" value="1" name="shop[properties][music]" id="shop_properties"> Music
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
<div class="links">
<h2 align="center"><div class="button"><%= link_to 'Coffee Shops Index', city_shops_path %></div><h2>
</div>
