<h1>New Coffee Shop</h1>
<div class="form">
<%= form_for [@city, @shop] do |f| %>
  <p>
    <%= f.label :shopname %><br>
    <%= f.text_field :shopname %>
  </p>

  <p>
    <%= f.label :properties %>
    <%= f.check_box :properties %> Wifi

  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
<div class="links">
<h2 align="center"><div class="button"><%= link_to 'Coffee Shops Index', city_shops_path %></div><h2>
</div>
