<h1>New Coffee Shop</h1>
<div class="form">
<%= form_for :shop do |f| %>
  <p>
    <%= f.label :shopname %><br>
    <%= f.text_field :shopname %>
  </p>

  <p>
    <%= f.label :properties %><br>
    <%= radio_button_tag (:)%>
    <%= radio_button_tag %>
    <%= radio_button_tag %>
    <%= radio_button_tag %>
    <%= radio_button_tag %>
    <%= radio_button_tag %>
    <%= radio_button_tag %>
    <%= radio_button_tag %>
    <%= radio_button_tag %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
