<h1>New Coffee Shop</h1>
<div class="form">
<%= form_for :shop do |f| %>
  <p>
    <%= f.label :shopname %><br>
    <%= f.text_field :shopname %>
  </p>

  <p>
    <%= f.label :properties %><br>
    <li class="coffeeproperties">
      <%= f.radio_button :properties, 'Wooden Seats' %> Wooden Seats
      <%= f.radio_button :properties, 'Bagels' %> Bagels
      <%= f.radio_button :properties, 'Sandwiches' %> Sandwiches
      <%= f.radio_button :properties, 'Fruit' %> Fruit
      <%= f.radio_button :properties, 'Alcohol' %> Alcohol
      <%= f.radio_button :properties, 'Wifi' %> Wifi
      <%= f.radio_button :properties, 'Music' %> Music
      <%= f.radio_button :properties, 'Soy Milk' %> Soy Milk
      <%= f.radio_button :properties, 'Cushion Seats' %> Cushion Seats
      <%= f.radio_button :properties, 'Outdoor Seating' %> Outdoor Seating  </li>

  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
