<h1>New Coffee Shop</h1>
<div class="form">
<%= form_for [@city, @shop] do |f| %>
  <p>
    <%= f.label :shopname %><br>
    <%= f.text_field :shopname %>
  </p>
  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>
  <!-- <p><%= f.hidden_field(:city_id, value: @city.id) %></p> -->
  <p>
    <%= f.label :properties %><br>
    <li class="coffeeproperties">

      <input type="checkbox" value="1" name="shop[properties][wifi]" id="shop_properties"> Wifi
      <input type="checkbox" value="1" name="shop[properties][outdoor seating]" id="shop_properties"> Outdoor Seating
      <input type="checkbox" value="1" name="shop[properties][music]" id="shop_properties"> Music
      <input type="checkbox" value="1" name="shop[properties][soy milk]" id="shop_properties"> Soy Milk
   </li>

  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
<h2 align="center"><div class="button"><%= link_to 'Coffee Shops Index', city_shops_path %></div><h2>
