<h1>Coffee Shop Show Page</h1>
<div class="links">

<h2 align="center"><div class="button"><%= link_to 'Java Hunt', cities_path %></div><h2>

<h2 align="center"><div class="button"><%= link_to 'Home', root_path %></div><h2>

</div>



<% @shop.each do |shop| %>
<%#= debug shop %>
<p>Shop: <%= shop.shopname %> </p>
<p data-supports='<% shop.properties['Wifi'] %>'>Wifi: <%= shop.properties['Wifi'] %></p>
<p>Outdoor Seating: <%= shop.properties['Outdoor Seating'] %></p>
<p>Music: <%= shop.properties['Music'] %></p>
<p>Soy Milk: <%= shop.properties['Soy Milk'] %></p></br>
<% end %>
