<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="div_top">
    <h1>Coffee Shop Show Page</h1>
  </div>
    <div class="links">

    <h2 align="center"><div class="button"><%= link_to 'Java Hunt', cities_path %></div><h2>

    <h2 align="center"><div class="button"><%= link_to 'Home', root_path %></div><h2>

      <h2 align="center"><div class="button"><%= link_to 'Edit Coffee Shop', edit_city_shop_path %></div><h2>
      </div>

    </div>



    <% @shop.each do |shop| %>
    <div class="shop">
    <p class="shopname">Shop: <%= shop.shopname %> </p>
    <div class="properties">
    <% shop.properties.each do |property_name, property_value| %>

    <p data-supports='<%= property_value %>'>
      <%= property_name %>
    </p>
    <% end %>
    </br>
    <% end %>
  </div>
  </body>
</html>
