<h1>Coffee Shop Show Page</h1>

<h2>
  <%= @shop.shopname %>
</h2>

<% @city.shops.each do |shop| %>
<p>Shop: <%= @shopname %>
<p>Location: <%= @location %></p>
<p>Properties: <%= @properties %></p>
<% end %>


<h2 align="center"><div class="button"><%= link_to 'Java Hunt', cities_path %></div><h2>

<h2 align="center"><div class="button"><%= link_to 'Home', root_path %></div><h2>
