<h1>New City Page</h1>


<%= form_for @city do |f| %>
  <p>
    <%= f.label :cityname %><br>
    <%= f.text_field :cityname %>
  </p>

  <p>
    <%= f.submit "Submit" %>
  </p>
<% end %>



<h2 align="center"><div class="button"><%= link_to 'Home', root_path %></div><h2>
