<h1> City Show Page <h1>

<h2><%= @city.cityname %></h2>

<div>

<% @shops.each do |shop| %>
<div class="shop">
  <%= shop.shopname %></br>
  <% shop.properties.each do |property_name, property_value| %>

    <p data-supports='<%= property_value %>'>
      <%= property_name %>
    </p>
  <% end %>
  </br>
</div>
<% end %>

</div>



<div class="links">

<h2 align="center"><div class="button"><%= link_to 'Add City', new_city_path %></div><h2>

<h2 align="center"><div class="button"><%= link_to 'Back to Cities', cities_path %></div><h2>

<h2 align="center"><div class="button"><%= link_to 'Add Coffee Shop', new_city_shop_path(@city) %></div><h2>
</div>
