<h1> City Show Page <h1>

<h2><%= @city.cityname %></h2>

<div>

<% @shops.each do |shop| %>
  <%= shop.shopname %></br>
Wifi:  <%= shop.properties["Wifi"] %></br>
Outdoor Seating:  <%= shop.properties["Outdoor Seating"] %></br>
Soy Milk:  <%= shop.properties["Soy Milk"] %></br>
Music:  <%= shop.properties["Music"] %></br>
</br>
<% end %>

</div>









<div class="links">

<h2 align="center"><div class="button"><%= link_to 'Add City', new_city_path %></div><h2>

<h2 align="center"><div class="button"><%= link_to 'Back to Cities', cities_path %></div><h2>

<h2 align="center"><div class="button"><%= link_to 'Add Coffee Shop', new_city_shop_path(@city) %></div><h2>
</div>
